log/
obj/
_site/
.optemp/
_themes*/
.vs/
common/
.vscode/
*.ini
.DS_Store
*.db

.openpublishing.buildcore.ps1


Teams/rooms/media/Microsoft Teams Rooms Managed Services - Roles Based Access Control.md
Teams/rooms/media/Microsoft Teams Rooms Managed Services - Update Management.md
